﻿:root {
    --color-blue: #810042;
    --color-black: #333333;
    --color-black-light: #5b5b5b;
    --color-black-dark: #0b0b0b;
    --color-border: #ccc;
    --color-gray-light: rgba(242, 242, 242, 1);
    --color-gray-dark: #777;
    --color-toolbar-title-bg: #e4e4e4;
    --color-orange: #F69002;
    --color-white: #fff;
    --color-rose-dark: #cda69e;
    --color-rose-light: #fff6ee;
    --color-rose: #f5cec6;
    --color-yellow-dark: #d7be8c;
    --color-yellow-light: #ffffdc;
    --color-black-lighty: #5b5b5b;
    --color-bordas: #aeaeae;
}


@font-face {
    font-family: 'HelveticaNeueLTPro-Roman';
    src: url('../../fonts/Helvetica Neue LT Pro/helvetica/HelveticaNeueLTPro-Roman.otf') format('opentype');
}
/**----------------------- Global Config  -------------------------**/

body {
    font-size: 1.3rem; /*1.4*/
    color: var(--color-black);
    background-color: #fff;
    
}

.table > thead > tr > th {
    border-bottom: 1px solid #143c4b;
}
.table > tfoot > tr > th {
    border-top: 1px solid #143c4b;
}

dl {
    margin-top: 0;
    margin-bottom: 6px;
}

.s-DataGrid .grid-title {
    margin-top: 2px
}
 
    
.box-label-chart {
        background-color: #fff;
        border: 1px solid #ccc;
        width: 40px;
        height: 15px;
    }
/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

/*h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'HelveticaNeueLTPro-Roman';
}*/

a:hover, a:active, a:focus {
    outline: none;
    text-decoration: none;
    color: #ec3d4b;
}


.ui-resizable-n, .ui-resizable-e, .ui-resizable-s, .ui-resizable-w, .ui-resizable-se, .ui-resizable-sw, .ui-resizable-ne, .ui-resizable-nw {
    display: none !important;
}

.text-blue {
    color: #ec3d4b;
}


.row-table .chevron:after {
    content: "\f077";
}

.row-table.collapsed .chevron:after {
    content: "\f078";
}

.skin-blue .main-header .navbar {
    background-color: #ec3d4b;
}

.skin-blue .main-header .logo {
    background-color: #ec3d4b;
    color: #ffffff;
    border-bottom: 0 solid transparent;
}

    .skin-blue .main-header .logo:hover {
        background-color: #ec3d4b;
        opacity: .90;
    }



.skin-blue .main-header .navbar .nav > li > a {
    transition: ease .5s;
}

    .skin-blue .main-header .navbar .nav > li > a:hover {
        color: var(--color-white);
        background-color: #ec3d4b;
    }

.skin-blue .main-header .navbar .sidebar-toggle {
    transition: ease .5s;
}

    .skin-blue .main-header .navbar .sidebar-toggle:hover {
        color: var(--color-white);
        background-color: #ec3d4b;
    }

.skin-blue .main-header li.user-header {
    background-color: #ec3d4b;
}

/***********************************************/
/* Bottom Navigation                           */
/***********************************************/

.nav-bottom {
    /*font-family: 'HelveticaNeueLTPro-Roman';*/
    border: none;
    background-color: #ec3d4b;
    transition: 0.1s ease-in;
}

    .nav-bottom li a {
        color: #c2c2c2;
        font-size: 14px;
        background-color: #ec3d4b;
    }

    .nav-bottom lia {
        transition: 0.1s ease-in;
    }
    
    
    .sidebar-menu > li a, .sidebar-menu > li a:hover {
        color: #fff;
    }

.nav-bottom li a:hover, .nav-bottom li a:active {
    color: #fff;
    background-color: #a9286a;
}

.nav-bottom li:hover a > i.fa {
    color: #fff;
}

.dropdown-menu {
    box-shadow: none;
    border-top-color: #ec3d4b;
    border-color: #ec3d4b;
    background-color: #fff;
    color: #000;
}

.nav-bottom li:hover a {
    height: 90px;
    margin-top: -40px;
    padding: 12px;
    padding-top: 39px;
    font-size: 17px;
}
/*------------------- SideBar -----------------------*/
.sidebar-menu .treeview-menu > li > a {
    font-size: 100%;
}

.sidebar-mini.sidebar-collapse .main-sidebar .user-panel {
    height: 50px;
}

.user-panel {
    position: relative;
    width: 100%;
    background-color: #e8e8e8;
    height: 150px;
    padding: 10px;
    overflow: hidden;
    font-size: 100%;
    font-weight: normal;
}

    .user-panel > .info {
        width: 100%;
        padding: 5px 15px 5px 22px;
        line-height: 1;
        position: absolute;
        left: 0px;
    }

.navbar-nav > li > a .fa {
    font-size: 16px;
}

.skin-blue .sidebar-menu > li > .treeview-menu {
    border-left: none;
}

.skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side {
    background-color: #222d32
}

.skin-blue .sidebar a {
    color: #b8c7ce;
    transition: ease .5s;
    font-size: 100%;
    border-bottom: 1px solid transparent;
    height: 50px;
    padding-top: 16px;
}

.skin-blue .sidebar-menu > li:hover > a, .skin-blue .sidebar-menu > li.active > a {
    color: var(--color-white);
    background: #2c3b41;
    border-left-color: #2c3b41;
}

.sidebar-menu > li:hover > a > .fa, .sidebar-menu > li:hover > a > .glyphicon, .sidebar-menu > li:hover > a > .ion, .skin-blue .treeview-menu > li > a:hover > .fa, .skin-blue .treeview-menu > li > a:hover > .glyphicon, .skin-blue .treeview-menu > li > a:hover > .ion {
    color: #fff !important;
}




.skin-blue .sidebar-form input[type="text"], .skin-blue .sidebar-form .btn {
    box-shadow: none;
    background-color: #ffffff;
    border: 1px solid transparent;
    height: 35px;
}

.skin-blue .sidebar-menu > li > .treeview-menu {
    margin: 0 1px;
    background: #2c3b41;
    color: var(--color-white);
}

.skin-blue .treeview-menu > li.active > a, .skin-blue .treeview-menu > li > a:hover {
    color: var(--color-white);
    background-color: #2c3b41;
    border-left-color: #2c3b41;
}

.skin-blue .treeview-menu > li > a {
    color: var(--color-white);
    padding-top: 16px;
}

.skin-blue .sidebar-form {
    border-radius: 3px;
    border: none;
    margin: 10px;
}

    .skin-blue .sidebar-form input[type="text"] {
        color: #666;
        border-top-left-radius: 2px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 2px;
    }

    .skin-blue .sidebar-form input[type="text"], .skin-blue .sidebar-form .btn {
        box-shadow: none;
        background-color: #374850;
        border: 1px solid transparent;
        height: 35px;
    }

    .skin-blue .sidebar-form .btn {
        color: #999;
        border-top-left-radius: 0;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
        border-bottom-left-radius: 0;
    }

    .skin-blue .sidebar-form input[type="text"], .skin-blue .sidebar-form .btn {
        box-shadow: none;
        background-color: #374850;
        border: 1px solid transparent;
        height: 35px;
        margin-top: 10px;
        margin-left: 0px;
    }
section.content > .s-DataGrid {
    border-top: 3px solid #ec3d4b;
}

.main-header .logo i {
   
    height: 50px;
    float: left;
    animation: none;
}

.main-header .logo .logo-lg i {
    width: 100px;
    background: url(images/icon.png) center center !important;
    animation: none;
    background-size: 63px auto !important;
    background-repeat: no-repeat !important;
}
.main-header .logo .logo-mini i {
    width: 50px;
    background: url(images/agita_icon_white.png) center center !important;
    animation: none;
    background-size: 30px auto !important;
    background-repeat: no-repeat !important;
}