﻿/*.iti__flag {
    background-image: url("Content/intl-tel-input/flags.png");
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .iti__flag {
        background-image: url("Content/intl-tel-input/flags@2x.png");
    }
}*/