﻿@import "site.mixins.less";


.s-Event-EventDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Event-EventAddressDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Event-EventAddressMediaGalleryDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Event-EventCategoryDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Event-EventHostDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Event-EventMediaGalleryDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Event-EventAddressCategoryDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}