﻿@import "site.mixins.less";


.s-Default-EventDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Default-UsersDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}