@import "site.mixins.less";

.s-Administration-LanguageDialog {
    > .size { width: 450px; }
    .caption { width: 120px; }
}

.s-Administration-RoleDialog {
    > .size { width: 450px; }
    .caption { width: 120px; }
}

.s-Administration-UserDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
    .s-PropertyGrid .categories { height: 450px; }
}

.s-TranslationGrid {
    input.custom-text {
        width: 100%;
        height: 23px;
        padding: 0 3px;
    }
}

.s-UserPermissionDialog, .s-RolePermissionDialog, .s-UserRoleDialog {
    > .size { .widthAndMin(670px); .heightAndMin(450px); }
    .s-DataGrid { height: 100%; }
    .ui-dialog-content { padding: 8px; }
}

.s-PermissionCheckEditor {
    .check-box {
        background-image: url(../serenity/images/tick-empty.png);
        background-position: center center;
        width: 22px;
        height: 22px;
        margin: 0;
    }

    .check-box.checked {
        background-image: url(../serenity/images/tick-green.png);
        background-position: center center;
    }

    .check-box.checked.revoke {
        background-image: url(../serenity/images/tick-red.png);
        background-position: center center;
    }

    .check-box.partial {
        opacity: 0.8;
    }

    .check-box.checked.partial {
        background-image: url(images/tick-green-partial.png);
    }

    .check-box.checked.revoke.partial {
        background-image: url(images/tick-red-partial.png);
    }

    .effective-permission {
        cursor: default;
        padding-left: 22px;
        background-image: url(../serenity/images/check2.png);
        background-repeat: no-repeat;
        background-position: left center;
    }

    .effective-permission.partial {
        background-image: url(../serenity/images/checkbox-null.png);
    }


    .effective-permission.deny {
        background-image: url(../serenity/images/slash.png);
    }
}

.s-Administration-ProducerDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}