﻿@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.SpecialEvent.MenuCompetitionItem.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new AgitaMaisEventos.SpecialEvent.MenuCompetitionItemGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>