﻿@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Event.Event.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new AgitaMaisEventos.Event.EventGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>