﻿@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Event.EventCategory.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new AgitaMaisEventos.Event.EventCategoryGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>