﻿@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Menu.MenuItem.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new AgitaMaisEventos.Menu.MenuItemGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>