﻿
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
<link rel="home" id="ApplicationPath" href="~/" />
<link rel="icon" type="image/x-icon" href="~/favicon.ico" />
@Html.StyleBundle("Base")
@Html.StyleBundle("Site")
@if (System.Globalization.CultureInfo.CurrentUICulture.TextInfo.IsRightToLeft)
{
    @Html.Stylesheet("~/Content/site/site.rtl.css")
}
<script type="application/json" id="ScriptCulture">
    @Html.Raw(Serenity.JSON.Stringify(new ScriptCulture()))
</script>
<script type="text/javascript">window.paceOptions = { startOnPageLoad: false, ajax: { trackMethods: ['GET', 'POST'], trackWebSockets: false, ignoreURLs: [] } };</script>
@Html.ScriptBundle("Base")
@Html.ScriptBundle("Site")
@Html.LocalTextScript("Site")
@Html.Stylesheet("~/Modules/_Ext/ExtStyles.css")
@Html.Script("~/Modules/_Ext/CustomSlickGridPlugin/slick.autocolumnsize.js")
@Html.Script("~/Modules/_Ext/Editors/slick.editors.js")
 <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyANJciTaPbrOdNBQ3C8t7v-fHieQsizpdg&libraries=places"></script>

<script type="text/javascript">
    @Html.Raw(DynamicScriptManager.GetScriptText("Lookup.Administration.Language"))
    @Html.Raw(DynamicScriptManager.GetScriptText("RegisteredScripts"))
</script>